name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Give jest execution permissions
      run: chmod +x ./node_modules/.bin/jest

    - name: Run tests
      run: npm test --runInBand

    - name: Build package (.zip)
      run: |
        mkdir build
        zip -r build/artifact.zip .

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-package
        path: build/artifact.zip
